button {
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    font-size: medium;

}

.cart {
    background-color: rgb(255, 216, 20);
    border: 2px solid rgb(255, 216, 20);
    color:  black;
    font-weight: bold;
    width: 200px;
}

.is-toggled {
background-color: grey;
border: 2px solid grey;
}

.container1 {
    background-color: #DCDCDC;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

.container{
    background-color: #DCDCDC;
    margin: 20px;
    padding: 20px;
    width:400px;
}
.is-pressed{
    background-color: black;
    color: white;
    border: 2px solid black;
    font-weight:bolder;
    margin-right: 10px;
}

.not-pressed {
    background-color: #A9A9A9;
    color: black;
    border: 2px solid #A9A9A9;
    font-weight: bolder;
}

