button {
    padding: 15px;
    border-width: 2px;
    border-radius: 50px;
    border-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.button1{
    background-color: yellow;
}
.button2 {
    background-color: orange;
}